/*<meta />*/

/* Prevents Safari in landscape orientation from zooming in on text*/

.micro-response1841958632
{
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 16px;
}

/* Default css class for hiding element*/

.micro-response1841958632 .hidden
{
	display: none;
}

.micro-response1841958632 a.glossaryTerm
{
	text-decoration: none;
}

/**/

.micro-response1841958632 #ios-wrapper
{
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.micro-response1841958632 .img_off
{
	display: none;
}

/* Feedback/Pulse */

.micro-response1841958632 .button.pulse-required,
.micro-response1841958632 .button.feedback-required,
.micro-response1841958632 .pulse-required,
.micro-response1841958632 .feedback-required,
.micro-response1841958632 .feedback-topic-required,
.micro-response1841958632 .feedback-topic-required
{
	display: none;
}

.micro-response1841958632 .pulse-active .pulse-required,
.micro-response1841958632 .feedback-active .feedback-required,
.micro-response1841958632 .feedback-active.has-topic .feedback-topic-required
{
	display: inline-flex;
}

/* Login Dialog */

.micro-response1841958632 .login-dialog
{
	display: none;
	z-index: 10001;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -175px;
	width: 350px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.micro-response1841958632 .login-dialog.pulse
{
	position: fixed;
	width: 408px;
	height: 428px;
	margin-left: -204px;
	margin-top: -214px;
}

.micro-response1841958632 #pulse-login-frame
{
	width: 100%;
	height: 100%;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.micro-response1841958632 .login-dialog-header
{
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding-left: 50px;
	border-bottom: solid 1px #2B2B2B;
	background: #5A5A5A url("Images/login-dialog-icon.png") no-repeat 18px center;
	/* Old browsers */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -moz-linear-gradient(top, #5A5A5A 0%, #4A4A4A 100%);
	/* FF3.6+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5A5A5A), color-stop(100%,#4A4A4A));
	/* Chrome,Safari4+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -webkit-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -o-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* Opera11.10+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -ms-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* IE10+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, linear-gradient(#5A5A5A 0%,#4A4A4A 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/login-dialog-icon.png") no-repeat 18px center, linear-gradient(#5A5A5A, #4A4A4A);
	/*PIE*/
	background-repeat: no-repeat;
	background-position: 18px center;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.micro-response1841958632 .login-dialog-content
{
	border-top: solid 1px #767676;
	background: #5A5A5A;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding: 17px;
}

.micro-response1841958632 .login-dialog-content .profile-item-wrapper
{
	color: #CECECE;
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
}

.micro-response1841958632 .login-dialog-content .profile-item-wrapper .label-wrapper
{
	margin-bottom: 5px;
	float: left;
}

.micro-response1841958632 .login-dialog-content .profile-item-wrapper .input-wrapper
{
	float: right;
}

.micro-response1841958632 .login-dialog-content .profile-item-wrapper input[type=text]
{
	margin: 0;
	padding: 5px;
	border: solid 1px #191919;
	background: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
	outline: none;
}

.micro-response1841958632 .login-dialog-content .profile-item-wrapper.email-notifications-wrapper
{
	margin-top: 15px;
	height: auto;
	line-height: normal;
}

.micro-response1841958632 .login-dialog-content .profile-item-wrapper.email-notifications-wrapper .label-wrapper
{
	float: none;
}

.micro-response1841958632 .login-dialog-content .profile-item-wrapper.email-notifications-wrapper .email-notifications-group
{
	margin-right: 0;
	padding: 12px;
	background-color: #4A4A4A;
	background-repeat: no-repeat;
	background-position: center center;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
}

.micro-response1841958632 .login-dialog-content .profile-item-wrapper.error input,
.micro-response1841958632 .login-dialog-content .profile-item-wrapper.error select
{
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.micro-response1841958632 .login-dialog-buttons
{
	text-align: right;
}

.micro-response1841958632 .login-dialog button
{
	color: #FFF;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 0;
	padding: 8px 26px;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #595959;
	/* Old browsers */
	background: -moz-linear-gradient(top, #595959 0%, #4A4A4A 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#4A4A4A));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* IE10+ */
	background: linear-gradient(#595959 0%,#4A4A4A 100%);
	/* W3C */
	-pie-background: linear-gradient(#595959, #4A4A4A);
	/*PIE*/
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.micro-response1841958632 .login-dialog button.close-dialog
{
	position: absolute;
	top: 8px;
	right: 8px;
	background: none;
	background-image: url('Images/close.png');
	height: 16px;
	width: 16px;
	margin: 0;
	padding: 0;
	border: 0;
}

.micro-response1841958632 .login-dialog .status-message-box
{
	display: none;
	color: #0F0;
	text-align: center;
	margin-top: 16px;
	padding: 12px;
	background-color: #DCFEDC;
	border: solid 1px #0F0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.micro-response1841958632 .login-dialog .status-message-box.error
{
	color: #F00;
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.micro-response1841958632 .login-dialog .status-message-box .message
{
	display: none;
}

.micro-response1841958632 .backlink-container
{
	position: absolute;
	bottom: 11px;
	right: 20px;
}

.micro-response1841958632 .backlink-container-topnav
{
	bottom: 4px;
	right: 4px;
}

.micro-response1841958632 .backlink-container-sidenav
{
	bottom: 20px;
	right: 20px;
}

.micro-response1841958632 #mc-backlink
{
	text-decoration: none;
	color: #7d858a;
	font-size: 15px;
	font-family: Arial;
	font-weight: normal;
}

.micro-response1841958632 #mc-backlink > sup
{
	font-size: 12px;
}

.micro-response1841958632 .height-container
{
	/* just to contain top margin of element inside */
	padding-top: 0.1px;
	position: relative;
	box-sizing: border-box;
}

.micro-response1841958632 .height-container-no-footer
{
	padding-bottom: 30px;
}

.micro-response1841958632 .height-container-sidenav
{
	padding-bottom: 40px;
}

/* to contain floating elements in the div */

.micro-response1841958632 .height-container:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.micro-response1841958632 .codeSnippet
{
	overflow: auto;
}

.micro-response1841958632 .codeSnippetBody
{
	margin: 0;
	font-family: inherit;
	overflow: auto;
}

.micro-response1841958632 .codeSnippetBody > pre
{
	font-family: inherit;
	margin: 0;
}

.micro-response1841958632 .codeSnippetBody > pre > code
{
	font-family: inherit;
}

.micro-response1841958632 .codeSnippetBody span.codeSnippetLineNumbers
{
	text-decoration: inherit;
	float: left;
	margin-top: 0;
	margin-right: 0.5rem;
	padding-right: 1rem;
	text-align: right;
}

.micro-response1841958632 .codeSnippetCopyButton
{
	font: inherit;
	right: 0;
}

.micro-response1841958632 .multipleChoice > fieldset
{
	border: none;
}

.micro-response1841958632 .multipleChoice > .submitQuestionButton
{
	display: block;
}

.micro-response1841958632 .multipleChoiceItem
{
	display: flex;
}

.micro-response1841958632 .multipleChoiceItem > div
{
	display: inline-block;
}

.micro-response1841958632 .multipleChoiceItem > div > p:first-child
{
	margin-top: 0;
}

.micro-response1841958632 .multipleChoiceItem > input
{
	vertical-align: top;
}

.micro-response1841958632 .topicQuestionFeedback
{
	display: none;
}

.micro-response1841958632 .mc-el-hidden
{
	opacity: 0;
}

.micro-response1841958632 .xref
{
	text-decoration: none;
	font-weight: normal;
	font-family: 'Segoe UI';
	color: #00B9BD;
}

.micro-response1841958632 .xref:hover
{
	color: #19b9f3;
}

.micro-response1841958632 .MCHelpControl-Related .MCHelpControl-RelatedHotSpot_
{
	background-position: left;
	background-image: url('RelatedTopics.gif');
	padding-left: 5px;
	padding-right: 0;
}

.micro-response1841958632 .link-list-popup
{
	color: #000000;
	background-color: #dcdcdc;
	border: solid 1px #000000;
	margin: 0px;
	padding: 0px;
}

.micro-response1841958632 .link-list-popup ul li
{
	color: Black;
	background-color: Transparent;
	padding: 5px;
	font-family: sans-serif;
	font-size: 10pt;
}

.micro-response1841958632 .link-list-popup ul li:hover
{
	color: White;
	background-color: Blue;
}

.micro-response1841958632 .MCHelpControlList
{
	
}

.micro-response1841958632 .MCHelpControlListItem
{
	
}

.micro-response1841958632 .MCHelpControlListItem a
{
	
}

.micro-response1841958632 .MCHelpControlListItem a:link
{
	
}

.micro-response1841958632 .MCHelpControlListItem a:visited
{
	
}

.micro-response1841958632 .MCHelpControlListItem a:hover
{
	
}

.micro-response1841958632 .MCHelpControlListItem a:focus
{
	
}

.micro-response1841958632 .MCConceptLinkControlList
{
	
}

.micro-response1841958632 .MCConceptLinkControlListItem
{
	
}

.micro-response1841958632 .MCConceptLinkControlListItem a
{
	
}

.micro-response1841958632 .MCConceptLinkControlListItem a:link
{
	
}

.micro-response1841958632 .MCConceptLinkControlListItem a:visited
{
	
}

.micro-response1841958632 .MCConceptLinkControlListItem a:hover
{
	
}

.micro-response1841958632 .MCConceptLinkControlListItem a:focus
{
	
}

.micro-response1841958632 .MCKeywordLinkControlList
{
	
}

.micro-response1841958632 .MCKeywordLinkControlListItem
{
	
}

.micro-response1841958632 .MCKeywordLinkControlListItem a
{
	
}

.micro-response1841958632 .MCKeywordLinkControlListItem a:link
{
	
}

.micro-response1841958632 .MCKeywordLinkControlListItem a:visited
{
	
}

.micro-response1841958632 .MCKeywordLinkControlListItem a:hover
{
	
}

.micro-response1841958632 .MCKeywordLinkControlListItem a:focus
{
	
}

.micro-response1841958632 .MCRelatedTopicsControlList
{
	margin-top: 6px;
	font-family: 'Segoe UI';
}

.micro-response1841958632 .MCRelatedTopicsControlListItem
{
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-family: 'Segoe UI';
	margin-bottom: 2px;
}

.micro-response1841958632 .MCRelatedTopicsControlListItem a
{
	
}

.micro-response1841958632 .MCRelatedTopicsControlListItem a:link
{
	
}

.micro-response1841958632 .MCRelatedTopicsControlListItem a:visited
{
	
}

.micro-response1841958632 .MCRelatedTopicsControlListItem a:hover
{
	
}

.micro-response1841958632 .MCRelatedTopicsControlListItem a:focus
{
	
}

.micro-response1841958632 .relatedTopics
{
	color: #2b2e3d;
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-top: 6px;
	font-weight: normal;
}

.micro-response1841958632 div.MCBreadcrumbsBox_main-section_0
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: black;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.micro-response1841958632 .img
{
	max-width: 100%;
	padding-top: 6px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.micro-response1841958632 .img.imgListImages
{
	padding-bottom: 6px;
}

.micro-response1841958632 .dropDown
{
	margin-top: 4px;
	padding-bottom: 4px;
}

.micro-response1841958632 .dropDownHotspot
{
	color: #D94567;
	font-weight: normal;
	font-family: 'Segoe UI';
	font-size: 16px;
	text-decoration: none;
}

.micro-response1841958632 .dropDownHotspot:link
{
	color: #D94567;
	font-weight: normal;
	font-family: 'Segoe UI';
	font-size: 16px;
	text-decoration: none;
}

.micro-response1841958632 .dropDownHotspot.dropDownHotspotLvl2
{
	font: inherit;
	color: #2B2E3D;
	font-family: 'Segoe UI';
	font-weight: normal;
	font-size: 16px;
}

.micro-response1841958632 .dropDownHotspot.dropDownHotspotLvl2:link
{
	font: inherit;
	color: #2B2E3D;
	font-family: 'Segoe UI';
	font-weight: normal;
	font-size: 16px;
}

.micro-response1841958632 .MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage
{
	background-position: left;
	background-image: url('arrow-down-gray.png');
	padding-left: 0px;
	padding-right: 0;
}

.micro-response1841958632 .MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage
{
	background-position: left;
	background-image: url('arrow-right-gray.png');
	padding-left: 0px;
	padding-right: 0;
}

.micro-response1841958632 .dropDownHead
{
	text-decoration: none;
}

.micro-response1841958632 .dropDownHotspot.dropDownHotspotFAQs_Lvl1
{
	font-weight: bold;
}

.micro-response1841958632 .dropDownHotspot.dropDownHotspotFAQs_Lvl1:link
{
	font-weight: bold;
}

.micro-response1841958632 .dropDownBody.dropDownBodyLvl2
{
	font-family: 'Segoe UI';
	line-height: normal;
	margin-top: 4px;
	font-size: 16px;
}

.micro-response1841958632 .dropDown.dropDownLvl2
{
	font-family: 'Segoe UI';
	font-size: 14.5px;
	margin-left: 0px;
	padding-right: 0px;
}

.micro-response1841958632 .MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage.MCDropDownHotSpot_Lvl2
{
	background-position: left;
	background-image: url('arrow-down-gray.png');
	padding-left: 0px;
	padding-right: 0;
}

.micro-response1841958632 .MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage.MCDropDownHotSpot_Lvl2
{
	background-position: left;
	background-image: url('arrow-right-gray.png');
	padding-left: 0px;
	padding-right: 0;
}

.micro-response1841958632 .img.imgListImages_SmallImgs
{
	padding-bottom: 6px;
}

.micro-response1841958632 .MCWebHelpFramesetLink a
{
	
}

.micro-response1841958632 .MCWebHelpFramesetLink.MCWebHelpFramesetLinkTop a
{
	
}

.micro-response1841958632 .MCWebHelpFramesetLink.MCWebHelpFramesetLinkBottom a
{
	
}

