/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Images;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #e8e9eb;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e8e9eb;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	max-id: 5;
	margin-top: 4px;
	cell-padding-top: 4px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e8e9eb;
	name: Column1;
	id: 0;
	font-family: Roboto;
	cell-content-style-class: Body;
	text-align: center;
	cell-content-style-tag: p;
	color: #202a3e;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	text-align: center;
	cell-content-style-tag: p;
	cell-content-style-class: Body;
	color: #2b2e3d;
}

mcTableHeadStyle
{
	span: 1;
	id: 5;
	name: Header1;
	font-family: Roboto;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e8e9eb;
	color: #202a3e;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	vertical-align: top;
	font-family: Roboto;
	color: #202a3e;
	cell-content-style-tag: p;
	cell-content-style-class: Body;
	text-align: center;
}


/* Cell Styles: */
 
.TableStyle-Images
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #e8e9eb;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #e8e9eb;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #e8e9eb;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e8e9eb;
	border-bottom-width: 1px;
	margin-top: 4px;
	border-spacing: 0px 0px;
}

.TableStyle-Images-Column-Column1
{
	
}

.TableStyle-Images-Column-Column2
{
	
}

.TableStyle-Images-Head-Header1
{
	
}

.TableStyle-Images-HeadI-Column1-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadI-Column1-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadE-Column1-Header1
{
	padding-top: 4px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
	color: #202a3e;
	font-family: Roboto;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-Images-HeadE-Column1-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadF-Column1-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-Images-HeadF-Column1-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadH-Column1-Header1
{
	padding-top: 4px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadH-Column1-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadD-Column1-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-Images-HeadD-Column1-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadC-Column1-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadC-Column1-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadB-Column1-Header1
{
	padding-top: 4px;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadB-Column1-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadA-Column1-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadA-Column1-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadG-Column1-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadG-Column1-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadI-Column2-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadI-Column2-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadE-Column2-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-Images-HeadE-Column2-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadF-Column2-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-Images-HeadF-Column2-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadH-Column2-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadH-Column2-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadD-Column2-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
	border-bottom-width: 1px;
	border-bottom-color: #e8e9eb;
	border-bottom-style: solid;
}

.TableStyle-Images-HeadD-Column2-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadC-Column2-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadC-Column2-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadB-Column2-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadB-Column2-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadA-Column2-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadA-Column2-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadG-Column2-Header1
{
	padding-top: 4px;
	text-align: center;
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-HeadG-Column2-Header1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-FootI-Column1-
{
	padding-top: 4px;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-FootI-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-FootE-Column1-
{
	padding-top: 4px;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-Images-FootE-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-FootF-Column1-
{
	padding-top: 4px;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-FootF-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-FootH-Column1-
{
	padding-top: 4px;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-Images-FootH-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-FootD-Column1-
{
	padding-top: 4px;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-FootD-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-FootC-Column1-
{
	padding-top: 4px;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-FootC-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-FootB-Column1-
{
	padding-top: 4px;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-Images-FootB-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-FootA-Column1-
{
	padding-top: 4px;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-FootA-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-FootG-Column1-
{
	padding-top: 4px;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-FootG-Column1- p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-FootI-Column2-
{
	padding-top: 4px;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-FootI-Column2- p
{
	color: #2b2e3d;
}

.TableStyle-Images-FootE-Column2-
{
	padding-top: 4px;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-FootE-Column2- p
{
	color: #2b2e3d;
}

.TableStyle-Images-FootF-Column2-
{
	padding-top: 4px;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-FootF-Column2- p
{
	color: #2b2e3d;
}

.TableStyle-Images-FootH-Column2-
{
	padding-top: 4px;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-FootH-Column2- p
{
	color: #2b2e3d;
}

.TableStyle-Images-FootD-Column2-
{
	padding-top: 4px;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-FootD-Column2- p
{
	color: #2b2e3d;
}

.TableStyle-Images-FootC-Column2-
{
	padding-top: 4px;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-FootC-Column2- p
{
	color: #2b2e3d;
}

.TableStyle-Images-FootB-Column2-
{
	padding-top: 4px;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-FootB-Column2- p
{
	color: #2b2e3d;
}

.TableStyle-Images-FootA-Column2-
{
	padding-top: 4px;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-FootA-Column2- p
{
	color: #2b2e3d;
}

.TableStyle-Images-FootG-Column2-
{
	padding-top: 4px;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-FootG-Column2- p
{
	color: #2b2e3d;
}

.TableStyle-Images-Body-Body1
{
	
}

.TableStyle-Images-BodyI-Column1-Body1
{
	padding-top: 4px;
	vertical-align: top;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-BodyI-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-BodyE-Column1-Body1
{
	padding-top: 4px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-Images-BodyE-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-BodyF-Column1-Body1
{
	padding-top: 4px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-BodyF-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-BodyH-Column1-Body1
{
	padding-top: 4px;
	vertical-align: top;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-Images-BodyH-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-BodyD-Column1-Body1
{
	padding-top: 4px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-BodyD-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-BodyC-Column1-Body1
{
	padding-top: 4px;
	vertical-align: top;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-BodyC-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-BodyB-Column1-Body1
{
	padding-top: 4px;
	vertical-align: top;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #e8e9eb;
	border-right-style: solid;
}

.TableStyle-Images-BodyB-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-BodyA-Column1-Body1
{
	padding-top: 4px;
	vertical-align: top;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-BodyA-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-BodyG-Column1-Body1
{
	padding-top: 4px;
	vertical-align: top;
	color: #202a3e;
	font-family: Roboto;
	text-align: center;
}

.TableStyle-Images-BodyG-Column1-Body1 p
{
	color: #202a3e;
	font-family: Roboto;
}

.TableStyle-Images-BodyI-Column2-Body1
{
	padding-top: 4px;
	font-family: Roboto;
	vertical-align: top;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-BodyI-Column2-Body1 p
{
	font-family: Roboto;
	color: #2b2e3d;
}

.TableStyle-Images-BodyE-Column2-Body1
{
	padding-top: 4px;
	font-family: Roboto;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-BodyE-Column2-Body1 p
{
	font-family: Roboto;
	color: #2b2e3d;
}

.TableStyle-Images-BodyF-Column2-Body1
{
	padding-top: 4px;
	font-family: Roboto;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-BodyF-Column2-Body1 p
{
	font-family: Roboto;
	color: #2b2e3d;
}

.TableStyle-Images-BodyH-Column2-Body1
{
	padding-top: 4px;
	font-family: Roboto;
	vertical-align: top;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-BodyH-Column2-Body1 p
{
	font-family: Roboto;
	color: #2b2e3d;
}

.TableStyle-Images-BodyD-Column2-Body1
{
	padding-top: 4px;
	font-family: Roboto;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-BodyD-Column2-Body1 p
{
	font-family: Roboto;
	color: #2b2e3d;
}

.TableStyle-Images-BodyC-Column2-Body1
{
	padding-top: 4px;
	font-family: Roboto;
	vertical-align: top;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-BodyC-Column2-Body1 p
{
	font-family: Roboto;
	color: #2b2e3d;
}

.TableStyle-Images-BodyB-Column2-Body1
{
	padding-top: 4px;
	font-family: Roboto;
	vertical-align: top;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-BodyB-Column2-Body1 p
{
	font-family: Roboto;
	color: #2b2e3d;
}

.TableStyle-Images-BodyA-Column2-Body1
{
	padding-top: 4px;
	font-family: Roboto;
	vertical-align: top;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-BodyA-Column2-Body1 p
{
	font-family: Roboto;
	color: #2b2e3d;
}

.TableStyle-Images-BodyG-Column2-Body1
{
	padding-top: 4px;
	font-family: Roboto;
	vertical-align: top;
	color: #2b2e3d;
	text-align: center;
}

.TableStyle-Images-BodyG-Column2-Body1 p
{
	font-family: Roboto;
	color: #2b2e3d;
}


